

body{

  /*background: #4b6cb7;  /* fallback for old browsers */
/*  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #2c3e50;
  font-family: Verdana, sans-serif;

}

.tarjeta{

margin: 0 auto;
width: 60%;
color: white;
text-align: center;
font-size: 15px;

}

.fotos{

vertical-align: middle;
margin: auto;
width: 80%


}

.reclutamiento{

margin: 0 auto;
width: 70%;
background: white;



}
.card text-center{

box-shadow: 6px 6px 6px 6px red;

}
